.board {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 6px;
}

    /* On mouse-over, add a deeper shadow */
    .board:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

/* Add some padding inside the card container */
.board-list {
    padding: 2px 16px;
}

.board-name {
    text-decoration: underline;
    font-family: Calibri;
    font-size: large;
    margin: 5px;
}

.board-description {
    text-decoration: none;
    font-family: Calibri;
    font-style: italic;
    margin-top: 5px;
    margin-left: 10px;
}
